.form-containerDiv {
	background-image: url("../assets/photo/084cfd1bc1b36c8e1e98a1da1fc2e171.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100%;
	height: 100vh;
	margin: 0;

  	.mainPage-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 75%;

   	.form-input {
			width: 100%;
			height: 4rem;
			text-indent: 1rem;
   	}

   	.form-submitBttn {
      	width: 7rem;
      	height: 2rem;
   	}
  	}
}
