.results-mainDiv {
     display: flex;
     flex-direction: column;
     align-items: center;
     background: linear-gradient(to bottom, #696969, #2F4F4F);
     height: 100vh;

     .result-title {
          border: 2px solid #AFAFAF;
          border-radius: 15px;
          background-color: #01b653;
          width: 17rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 0;
          font-size: 2rem;
          position: relative;
          top: -1.5rem;
     }

     .product-infoDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5%;

          .product-imgDiv {
               display: flex;
               justify-content: center;
               width: 75%;
               height: 75%;

               .product-img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
               }
          }

          .product-info {
               width: 85%;

               .product-title {
                    font-size: 1.5rem;
                    color: white;
                    margin-bottom: 0;
               }

               .product-price {
                    font-size: 1.25rem;
                    color: white;
                    margin-bottom: 0;
               }
          }
     }

     .result-bttnDiv {

          .resultBttn button {
               box-shadow: 0 9px #999;
			border: none;
			border-radius: 50%;
			width: 5rem;
			height: 5rem;
			background-color: #01b653;
               color: navy;
               padding: 5px 15px;
               outline: none;
          }

          .resultBttn button:active {
               background-color: #01b653;
               box-shadow: 0 5px #666;
               transform: translateY(4px);
          }
     }
}